*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'dosis',sans-serif,Arial;
}
html{
    font-size:62.5%;
}
body {
    background-repeat: no-repeat;
    background-image: url('Floral-May-Desktop-Wallpaper-650x366.jpg');
    background-size: cover;
}
.container {
    width: 100%;
    height: 100vh;
   
    color: #ddd;
}
.warpper{
    width:100%;
    position:absolute;
    top:15%;
    text-align:center;
    color:#ddd;
}
h1 {
    font-size: 8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 8rem;
    text-shadow: 0 0.5rem rgba(0,0,0,0.5);
    color: #F4A460;
    text-align: center;
    padding-top: 8rem;
}
      ul{
         display:flex;
         transform:translate(-26px,0);
         flex-direction:row;
     }
         ul li {
            font-size: 2.4rem;
            list-style: none;
            margin: 0 6rem;
            color:#000000;
            font-weight:600;
        }
    .countdown {
        display:flex;
        justify-content:center;

    }
        .countdown div {
            
            width:100px;
            padding: 5rem;
           
            background: linear-gradient(to bottom,rgba(61,58,58,0.9)50%,rgba(99,93,93,0.9)0);
            margin: 0.4rem 4rem 0.4rem;
            font-size: 7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0.8rem 2.5rem rgba(0,0,0,0.5);
        }
            .countdown div:before {
                content: "";
                position: absolute;
                width: 40%;
                height: 0.25rem;
                background-color: #9ACD32;
            }
            .countdown div::after {
                content: attr("data-content");
                font-size: 2.2rem;
                font-weight: 400;
                position: absolute;
                bottom: -6rem;
                color: #ddd;
            }
        @media screen and (max-width: 357px) {
            .container {
                background-repeat: no-repeat;
                
                background-size: cover;
            }
            .countdown div{
        color:red;

    }
           
}